# mdp
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/mpd/mpd.pid

# lazy
.config/lazygit/state.yml

# qBittorrent
.config/qBittorrent/qBittorrent-data.conf
.config/qBittorrent/lockfile
.config/qBittorrent/rss

# ssh
.ssh/private/personal_github
.ssh/private/work_github
.ssh/known_hosts
.ssh/known_hosts.old

# calibre
.config/calibre/gui.json
.config/calibre/dynamic.pickle.json

# mpv
.config/mpv/mpvHistory.log
