# mdp
.config/mpd/mpd.log
.config/mpd/mpdstate
.config/mpd/mpd.pid

# lazy
.config/lazygit/state.yml

# qBittorrent
.config/qBittorrent/rss
.config/qBittorrent/lockfile
.config/qBittorrent/qBittorrent-data.conf

# ssh
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/private/work_github
.ssh/private/personal_github

# calibre
.config/calibre/gui.json
.config/calibre/dynamic.pickle.json

# mpv
.config/mpv/mpvHistory.log

# extras
.Xresources
.config/Code - OSS
.config/GIMP/3.0
.config/ObinsKit
.config/Postman
.config/QtProject.conf
.config/bruno
.config/calibre/metadata-sources-cache.json
.config/chromium
.config/content_shell
.config/dconf
.config/gh/hosts.yml
.config/go
.config/lazydocker
.config/libfm
.config/litecli/log
.config/pavucontrol.ini
.config/pcmanfm
.config/pgcli/log
.config/pulse
.config/ripgrep-all
.config/systemd/user
.config/thorium
.config/vesktop
.config/yarn/global
.config/zsh
.gnupg
