Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

! Global colors
*background: #1d1f21
*foreground: #ffffff
*cursorColor: #4921ad


! ST specific configurations
/* st.font: Recursive Mn Csl St:pixelsize=13.5:style:Bold*/
 st.font: Maple Mono:pixelsize=13.5:style:Bold
/*st.font: CaskaydiaCove Nerd Font Mono:pixelsize=14:style:SemiBold*/
 /*st.font: Recursive Mn Csl St Smb:pixelsize=13.5:style:SemiBold*/

st.borderpx: 0px
st.cwscale: 1.00
st.chscale: 1.00
st.alpha: 0.90
