#!/usr/bin/sh

# main
alias :q="exit"
alias wg="sudo wg"
alias zt="zathura"
alias sudo="sudo "
alias vi="nvim"
alias chad="NVIM_APPNAME='nvchad' nvim"
alias fvim="NVIM_APPNAME='fvim' nvim"
alias yay="paru"
alias btml="btm --theme=default-light"
alias zshconfig="vi ~/.zshconfig"
alias anime="ani-cli -q 1080"
alias animedub="ani-cli -q 1080 --dub"
alias c="xclip -selection clipboard"
alias p="xclip -selection clipboard -o"
alias trans="trans -p"
alias transes="trans -p en:es"
alias cl="clear"

alias sp="systemctl suspend"
alias dh="rm ~/.history.db"
alias sht="shutdown now"
alias reboot="systemctl reboot"
alias fontcache="sudo fc-cache -f -v"
alias motivation="mpv ~/Mega/personal/pc/videos/biy/cristiano.mp4"
alias rex="xrdb -merge ~/.Xresources && kill -USR1 \$(pidof st)"
alias ff="fastfetch"

alias gb="git branch"
alias glg="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias gsb="git status --short --branch"
alias lzg="lazygit"
alias gdc="git diff --cached"
alias gd="git diff"
alias gco="git checkout"
alias gaa="git add -A"
alias gc="git commit"
alias ggpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias ggpull='git pull origin $(git rev-parse --abbrev-ref HEAD)'
alias gcc='git rev-list --count HEAD'

alias lzd="lazydocker"

alias ta="tmux attach"
alias tk="tmux kill-server"
alias tn='tmux new -s $USER'

alias zls='ls $ZPLUGINDIR'
