#!/bin/env sh

yy() {
  tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
  yazi "$@" --cwd-file="$tmp"
  if cwd="$(cat -- "$tmp")" && [ "$cwd" != "" ] && [ "$cwd" != "$PWD" ]; then
    cd -- "$cwd" || return
  fi
  rm -f -- "$tmp"
}

xevkeys() {
  xev | awk -F'[ )]+' '/^KeyPress/ { a[NR+2] } NR in a { printf "%-3s %s\n", $5, $8 }'
}

rez() {
  . /home/bryant/.zshrc
}

ds() {
  if [ "$1" = "" ]; then
    echo "Usage: check_disk_space /dev/sdax"
    return 1
  fi

  df -h "$1" | awk 'NR==2 {print "Total space on", $1, ":", $2, "| Free space:", $4}'
}

update_grub() {
  sudo grub-mkconfig -o /boot/grub/grub.cfg
}

# NOTE: this function is used in ~/.zshconfig file
# is attached to ^X keybind
copy_terminal_buffer() {
  echo "$BUFFER" | xclip -selection clipboard
  zle reset-prompt
}
