Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

! font family
st.font: Maple Mono:pixelsize=15:style:Medium

! window padding
st.borderpx: 0

! font horizontal spacing
st.cwscale: 1.1

! transparency
st.alpha: 0.98
