Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

! Global colors
*background: #1d1f21
*foreground: #ffffff
*cursorColor: #862d59

! Global font configuration

/* NOTE: Static font */
/* st.font: Recursive Mn Csl St:pixelsize=13:style:Bold*/
/* st.font: Recursive Mn Csl St Smb:pixelsize=13:style:SemiBold */

/* WARN: Code Font */
/* st.font: Rec Mono Casual/SemiCasual/Duotone:pixelsize=13:style:Medium */

/* PERF: Alternative font */
/*st.font: Maple Mono:pixelsize=13:style:Bold*/

st.font: Recursive Mn Csl St Smb:pixelsize=13:style:SemiBold 

! ST specific configurations
st.borderpx: 0px
st.cwscale: 1.13
st.chscale: 1.00
st.alpha: 0.87
