! font family
st.font: Maple Mono:pixelsize=13.5:style:Medium

! window padding
st.borderpx: 0

! font horizontal spacing
st.cwscale: 1.15
st.chscale: 1.00

! colorsl
st.foreground: #ffffff
st.cursorColor: #76ccbc

! transparency
st.alpha: 0.87
